


<div class="footer  text-secondary pt-3 pt-sm-none " style="background:#1A1A1A ;">
    <div class="container">
        <div class="row  text-capitalize text-center text-sm-start">
            <div class="col-lg-3 col-md-6 p-2 py-lg-4 ">
                <h1 class="brand-name text-light ">the pepole hours</h1>
                <p class="fw-semibold"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eum, voluptatibus unde doloremque labore similique ratione quaerat perspiciatis dolore eius cum molestias, dignissimos quod?</p>
            </div>
            <div class="col-lg-3 col-md-6 p-2 py-lg-4">
                <div class="title fw-semibold">quick link <span></span></div>
                <ul class="mt-2">
                    <li><a href="/">home</a> </li>
                    <li><a href="/aboutUS">aboutUS</a>  </li>
                    <li><a href="/subscription">subscription</a>  </li>
                    <li><a href="/newsletter">newsletter</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 p-2 py-lg-4">
                <div class="title fw-semibold ">category <span></span></div>
                <ul class="mt-2">
                    <li><a href="/technology">technology</a> </li>
                    <li><a href="/general">general</a></li>
                    <li><a href="/about">about</a> </li>
                    <li><a href="/newsletter">newsletter</a> </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 p-2 py-lg-4">
                <div class="title fw-semibold ">contact us <span></span></div>
                <table class="mt-2 m-auto">
                    <tr>
                        <td>address</td>
                        <td>: road no -07, mohahammadpur,dhaka</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>
                            : habibmir807@gmail.com  </br>
                              habibmir808@gmail.com
                        </td>

                    </tr>
                    <tr>
                        <td>phone</td>
                        <td>: 01400007904</td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
    <p class="text-light text-center py-3 text-capitalize" style="background: black;">copyright &COPY; 2022 pepole hours. all right reserved </p>
</div>

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

</body>
</html>
