.footer{
    .brand-name{
        font-family: "Playball", cursive;
        font-size:32px ;
    }
    p{
        font-size: 14px;
    }
   
    .title{
        color: #CCCCCC;
        font-size: 20px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin-top:10px;
        a{
            text-decoration:none;
            font-weight: 400;
            color:#B3B3B3;
            font-size: 14px;

        }
    }
    table{
        td{
            font-size: 14px;
            vertical-align: top;
            font-weight: 400;
            color:#B3B3B3;
        }
    }
}