I need a modern news paper website. there admin can create moderator, writer and guest writer. admin can post news, approve news ,delete news, delete comment. admin can see all posts or any specific post. moderator can approve post and delete any post (deleting admin post need to admin permission) and promote user to guest writer. writer can create post, delete post , delete his post comment. if anyone delete anything other than admin or user, they need to submit a reason and admin will review it and admin can restore  data or approve. guest writer only able to create post and delete post. user will be able to like, share, comment and subscribe newsletter.